/* --------------------------------------- */
/* ----- Blog Page Layout ----- */
/* --------------------------------------- */

.blog-container {
    display: flex;
    max-width: var(--container-max-width);
    margin: 0 auto;
    padding: var(--gutter-huge) var(--gutter-medium);
}

.blog-menu {
    flex: 0 0 25%; /* Menu takes up 25% of the width */
    padding-right: var(--gutter-normal);
    border-right: var(--border-light);
}

.blog-menu h2 {
    font-size: var(--font-size-medium-1);
}

.blog-menu ul {
    list-style: none;
    padding: 0;
}

.blog-menu ul li {
    padding: 1rem 0;
    cursor: pointer;
    font-size: 1.8rem;
    color: var(--white-1);
    transition: color 0.2s;
}

.blog-menu ul li:hover,
.blog-menu ul li.active {
    color: var(--pink);
}

.blog-content {
    flex: 1; /* Content area takes up the remaining space */
    padding-left: var(--gutter-normal);
}

.blog-content h2 {
    font-size: var(--font-size-large);
    margin-bottom: 0.5rem;
}

.blog-meta {
    font-size: 1.6rem;
    color: #aaa;
    margin-bottom: var(--gutter-normal);
}

.blog-content p {
    font-size: var(--font-size-small);
    line-height: var(--line-height-normal);
    margin-bottom: var(--gutter-small);
}

.blog-content img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin: var(--gutter-small) 0;
}

/* Responsive adjustments */
@media(max-width: 768px) {
    .blog-container {
        flex-direction: column;
    }

    .blog-menu {
        border-right: none;
        border-bottom: var(--border-light);
        padding-right: 0;
        margin-bottom: var(--gutter-normal);
    }

    .blog-content {
        padding-left: 0;
    }
}